.page-content {
	padding-top: 60px;
}

#cellinput {
	padding: 10px 0;
	display: none;
}

table {
	margin: 0 auto;
	border: 1px solid #777;
}

table.rack {
	margin: 30px auto 0 auto;
}

table.rack td {
	border-right: 1px solid #777;
}

table.rack td:last-child {
	border-right: 0;
}

table td {
	width: 40px;
	height: 40px;

	color: #555;
	font-size: 24px;
	text-align: center;
}

table tr:nth-child(even) td:nth-child(even),
table tr:nth-child(odd) td:nth-child(odd) {
	background-color: #EEE;
}

table tr td.bonus_ST {
	background-color: #0DFF94 !important;
}

table tr td.bonus_2W {
	background-color: #0C95E8 !important;
}

table tr td.bonus_3W {
	background-color: #0D64FF !important;
}

table tr td.bonus_2L {
	background-color: #00E2FF !important;
}

table tr td.bonus_3L {
	background-color: #0CE8C5 !important;
}